*{
    margin: 0 auto;
    padding: 0;

}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
    font-style: normal;
}
.nav-ber{
     color: rgb(255, 255, 255);
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(65, 37, 103, 1);
    padding-left: 200px;
    padding-right: 200px;
}
.nav-list{
    display: flex;
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    padding-right: 19px;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.btn{
    width: 135px;
    height: 44px;
    border-radius: 20px;
    
    background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
    font-size: 1rem;
     color: rgb(255, 255, 255);
}

.banner{   
    background: url("../assets/hero-bg.png");
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
    
}

.banner-content{
   
    width: 550px;
    height: 558px;
}
.banner-cercel{
     background: url("../assets/hero-circle.png");
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
    
   
}
.banner-mycrophone{
         background: url("../assets/microphone.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    padding-top: 132px;
}
.btn-new{
         width: 75px;
    height: 38px;
    border-radius: 20px;
    float: right;
    background-color: #00ff88;
    margin-right: 11px;
    margin-top: 21px;
     transition: all 0.3s;
  cursor: pointer;
}











.btn-new span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}



.nanner-title{
    
    width: 550px;
    height: 168px;
    align-content: center;
    text-align: center;
    margin-top: 40px;
    

}
.btn-banner{
    margin-top: 24px;
    width: 201px;
    height: 44px;
    border-radius: 30px;
    background: linear-gradient(to right,#F7E93F, #FB09B4, #9100F8);
    font-size: 1rem;
}
.btn-banner2{
    margin-top: 24px;
    width: 147px;
    height: 44px;
    border-radius: 30px;
    font-size: 1rem;
    justify-content: center;
    border: 1px solid #00ff88;
    background-color:unset;
    color: #00ff88;
}
.btn-banner2 img{
float: left;
padding-left: 18px;
height: 20px;
width: 20px;

}
.btn-banner img{
float: left;
padding-left: 15px;
height: 20px;
width: 20px;


}

.btn-new span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.3s;
}

.btn-new:hover span {
  padding-right: 25px;
}

.btn-new:hover span:after {
  opacity: 1;
  right: 0;
}

.banner-about{

height: 646px;
background-color: #1A0B2E;
padding-bottom: 80px;
text-align: center;

}
.banner-podcast{
  
    width: 1200px;
    height: 222px;
    padding-top: 50px;
    margin-bottom: 80px;
}
.banner-podcast h2{
    font-size: 3rem;
    color: white;
    margin-bottom: 16px;

}
.banner-podcast p{
    font-size: 1rem;
    color: white;
    
    
}

.banner-card{
    padding-top: 80px;
    display: flex;
 border-top: 1px solid #ffff;
   color: wheat;
   max-width: 1200px;
   
    height: 94px;
   
    padding-bottom: 120px;
}
.banner-card h2{
    color: #00ff88;
     font-size: 3rem;
}
.banner-card p{
    color:white;
     font-size: 1rem;
}
.bcard1{
 border: 2px solid rgb(19, 13, 15);
 width: 240x;
 height: 94px;

    
}
.content-tech h2{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 40px;
    font-size: 3rem;
    color: white;
    
}
.content-tech{
     
    background-color: #230E3D;
   
    
}
.content-techwave{          
          display: flex;
          max-width: 1200px;
          gap: 30px;
     }

 .escla{
         display: flex;
          max-width: 1200px;
           margin-top: 30px;
           padding-bottom: 120px;
     }
.content-premium{
   
  align-content: center;
  border-radius: 15px;
    border: 2px solid rgb(19, 13, 15);
    height: 480px ;
    width: 380px;
       background-color: #351165;
          padding-left: 40px;
            border-radius: 10px;
            color: white
            
}
.content-premium h3{
 font-size:  2rem;
 padding-top: 16px;
 }
 .content-premium p{
font-size: 1rem;
line-height: 24px;
padding-top: 16px;
 }
 .content-premium img{
    width: 60px;
    height: 60px;
 }


.content-mobile{
    
   align-content: center;
  border-radius: 15px;
        padding-left: 40px;
    margin-bottom: 30px;
    height: 225px ;
    width: 790px;
        background-color: #351165;
           
            border-radius: 10px;
            color: white
}
.content-global{
    
    align-content: center;
  border-radius: 15px;
    padding-left: 40px;
    
    height: 225px ;
    width: 790px;
          background-color: #351165;
      
            border-radius: 10px;
            color: white 
}
.content-esclusive{
    
  align-content: center;
  border-radius: 15px;
    border: 2px solid rgb(19, 13, 15);
    height: 273px ;
    width: 790px;
         background-color: #351165;
           padding-left: 40px;
            border-radius: 10px;
            color: white;
            margin-right: 30px;
            
            
}
.content-rich{
   
   align-content: center;
  border-radius: 15px;
    border: 2px solid rgb(19, 13, 15);
    height: 273px ;
    width: 380px;
          background-color: #351165;
          padding-left: 40px;
            border-radius: 10px;
            color: white
}


.feature-content{
     padding-top: 120px;
     background-color: #1A0B2E;
   padding-bottom: 120px;

}

.featured-section{
   padding-top: 40px;
    display: flex;
    max-width: 1200px;
    gap: 30px;;
 
}
.featured-future{
      
  border-radius: 15px;
    border: 2px solid rgb(19, 13, 15);
    height: 440px ;
    width: 380px;
          background-color: #351165;
         
            border-radius: 10px;
        

}
.featured-title{
    padding-left: 40px;
    color: wheat;
    padding-top: 24px;
    padding-bottom: 24px;
    

}
.featured-title p{
    line-height: 24px;
    font-size: 1rem;
}
.meet-section{
    display: flex;
   
    
}
.meet{
    background-color: #1A0B2E;
    align-items: center;
    padding-bottom: 120px;
    
}
.meet h2{
 
 padding-top: 40px;
    padding-bottom: 40px;
    font-size: 3rem;
    color: white;
    
}
.meet img{
    width: 200px;
    height: 200px;
    padding-top: 40px;
}
.meet-section{
    width: 1200px;
    height: 280px;
    background-color: #351165;
   
}
.meet-alex{
    width: 896px;
    height: 183px;
    
}
.meet-icon img{
        width: 20px;
    height: 20px;
    border-radius: 20%;
    margin-right: 5px;
    padding-top: 16px;
    color: red;
}
.meet-alex p{
    line-height: 16px;
    font-size: 1rem;
    float: left;
}
.footer-section{
    height: 412px;
      background: url("../assets/footer-bg.png");
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;

color: white;
text-align: center;
align-content: center;

}
.footer-icon{
    display: flex;
   width: 632px;
   margin-top: 32px;
   margin-bottom: 32px;
}
.footer-icon h4{
 align-items: center;
    width: 160px;
    height: 24px;
    
}
.footer-icon img{
    width: 24px;
    height: 24px;
}


.nav-mobile,.content-tech-mobile{
         display: none;
            
    }

.featured-title h4{
    color: #00ff88;

}
.featured-title img{
    margin-right: 5px;
    margin-top: 5px;
    width: 20px;
    height: 20px;
}



